@page "/workstages"

@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using WorkManage.Data
@using WorkManage.Data.Models
@inject IDbContextFactory<WorkManage.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

<PageTitle>Index</PageTitle>

<h1>Стадии работы</h1>

<p>
    <a href=@($"workstages/create?workid={work.Id}")>Добавить</a>
</p>

<div>
    <a href="@($"works/?masterid={GetMasterId((int)WorkId)}")">Back to List</a>
</div>

<QuickGrid Class="table" Items="context.WorkStages.Where(x => x.WorkId == WorkId)">
    <PropertyColumn Property="workStages => workStages.Work.Name" Title="Название работы"/>
    <PropertyColumn Property="workStages => workStages.Name" Title="Название стадии" />
    <PropertyColumn Property="workStages => workStages.Price" Title="Стоимость" />

    <TemplateColumn Context="workStage">
        <a href="@($"workstages/edit?workstageid={workStage.Id}")">Изменить</a> |
        <a href="@($"workstages/details?workstageid={workStage.Id}")">Подробно</a> |
        <a href="@($"workstages/delete?workstageid={workStage.Id}")">Удалить</a>
    </TemplateColumn>
</QuickGrid>

@code {
    [SupplyParameterFromQuery]
    public int? WorkId { get; set; }

    Work? work { get; set; }

    public string? WorkName { get; set; }

    ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
        if (WorkId == null)
        {
            NavigationManager.NavigateTo("not found");
        }
        { 
            work = context.Works.FirstOrDefault(d => d.Id == WorkId);

            if (work == null)
            {
                NavigationManager.NavigateTo("not found");
            }

            WorkName = work?.Name;
        }
    }

    public string GetMasterId(int workId)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Works.FirstOrDefault(x => x.Id == workId).MasterId;
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
