@page "/allworks"

@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using WorkManage.Data
@using WorkManage.Data.Models
@inject IDbContextFactory<WorkManage.Data.ApplicationDbContext> DbFactory
@implements IAsyncDisposable

<PageTitle>Index</PageTitle>

<h1>Работы</h1>

<QuickGrid Class="table" Items="context.Works">
    <PropertyColumn Property="work => work.Master.LastName + ' ' + work.Master.FirstName + ' ' + work.Master.Patronymic" Title="ФИО мастера" />
    <PropertyColumn Property="work => work.Name" Title="Название" />

    <TemplateColumn Context="work">
        <a href="@($"workerstages?workid={work.Id}")">Стадии</a>
    </TemplateColumn>
</QuickGrid>

@code {
    ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
